/* reseat */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard";
}
a {text-decoration: none; color: #fff;}
li {list-style: none;}

/* swiper style */
html,
body {
  position: relative;
  height: 100%;
}

/* 헤더 데스크탑 */
header {
  width: 100%;
  padding: 55px 0;
  position: fixed;
  z-index: 9;
}
.navDesktop {
  display: flex;
  align-items: center;
  font-size: 16px;
}
.logo {
  position: absolute;
  left: 100px;
}
.navDesktop .menu {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.myPage {
  position: absolute;
  right: 100px;
}
.navDesktop .menu li {
  margin: 0 16px;
  padding: 10px;
}
.navDesktop .myPage img {
  margin-right: 1px;
}
.navMobile {
    display: none;
}

/* 배너 스와이퍼 */
.swiper:nth-of-type(1) {
  width: 100%;
  height: 80%;
}
.mainSwiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainSwiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* 스와이퍼 버튼 */
.mainSwiper .swiper-button-next {
  color: #fff;
  margin-right: 86px;
}
.mainSwiper .swiper-button-prev {
  color: #fff;
  margin-left: 86px;
}


/* 첫번째 컨테이너 */
.container-1 {
  margin: 0 auto;
  margin-top: 150px;
  width: 80%;
}
.container-titleWrap {
  text-align: center;
}
.container-title {
  color: #000;
  font-size: 30px;
  font-weight:500;
  font-family: "Montserrat", serif;
}
.container-supTitle {
  margin-top: 5px;
  color: #C10013;
  font-size: 12px;
  font-weight: 600;
  font-family: "Montserrat", serif;
}
/* 첫번째 컨테이너 스와이퍼 */
.swiper:nth-of-type(2) {
  margin-top: 80px;
}
.swiper-slide {
  text-align: center;
  /* background: whitesmoke; */
}
/* 스와이퍼 이미지 */
.subSwiper .swiper-slide .swiper-slideImg {
  height: 260px;
  width: 260px;
}
.subSwiper .swiper-slide:nth-child(2) .swiper-slideImg {
  background: url(./img/slide/slide-1-01.png) no-repeat;
}
.subSwiper .swiper-slide:nth-child(3) .swiper-slideImg {
  background: url(./img/slide/slide-1-02.png) no-repeat;
}
.subSwiper .swiper-slide:nth-child(4) .swiper-slideImg {
  background: url(./img/slide/slide-1-03.png) no-repeat;
}
.subSwiper .swiper-slide:nth-child(5) .swiper-slideImg {
  background: url(./img/slide/slide-1-04.png) no-repeat;
}
.subSwiper .swiper-slide:nth-child(6) .swiper-slideImg {
  background: url(./img/slide/slide-1-05.png) no-repeat;
}
.subSwiper .swiper-slide:nth-child(7) .swiper-slideImg {
  background: url(./img/slide/slide-1-06.png) no-repeat;
}
.subSwiper .swiper-slide:nth-child(8) .swiper-slideImg {
  background: url(./img/slide/slide-1-07.png) no-repeat;
}
.subSwiper .swiper-slide:nth-child(9) .swiper-slideImg {
  background: url(./img/slide/slide-1-08.png) no-repeat;
}
.subSwiper .swiper-slide:nth-child(10) .swiper-slideImg {
  background: url(./img/slide/slide-1-09.png) no-repeat;
}
.subSwiper .swiper-slide:nth-child(11) .swiper-slideImg {
  background: url(./img/slide/slide-1-10.png) no-repeat;
}
/* 스와이퍼 텍스트 */
.subSwiper .swiper-slideText {
  margin-top: 30px;
}
.subSwiper .company {
  color: #b1b1b1;
  font-family: "Montserrat", serif;
  font-size: 14px;
}
.subSwiper .name {
  margin-top: 6px;
  font-size: 18px;
}
.subSwiper .price {
  margin-top: 13px;
  font-size: 15px;
}
.subSwiper .price span:first-child {
  margin-right: 4px;
  color: #b1b1b1;
  font-size: 14px;
  text-decoration: line-through;
}
.subSwiper .price span:last-child {
  margin-left: 3px;
  color: #C10013
}
/* 스와이퍼 미니박스 */
.subSwiper .miniboxWrap {
  margin-top: 14px;
  display: flex;
  justify-content: center;
  color: #fff;
}
.subSwiper .minibox {
  background-color: #01423A;
  font-family: "Montserrat", serif;
  font-size: 10px;
  width: 48px;
  padding: 2px;
  margin: 0 2.5px;
}
/* 두번째 스와이퍼 미니박스 */
.container-3 .minibox {
  margin: 0 2.5px;
  width: 60px;
}
.subSwiper .minibox:nth-child(2) {
  background-color: #C10013;
}
/* 스와이퍼 버튼 */
.subSwiper .swiper-slide:nth-child(1) {
  background-color: #C10013;
  width: 120px !important;
  height: 260px;
}
.subSwiper .swiper-button-next {
  color: #fff;
  top: 215px;
  right: 28px;
}
.subSwiper .swiper-button-prev {
  color: #fff;
  top: 215px;
  left: 28px;
}
.subSwiper .swiper-slide:nth-child(12) {
  background-color: #01423A;
  width: 306px !important;
  height: 260px;
}

/* 두번째 컨테이너 */
.container {
  margin: 0 auto;
  margin-top: 200px;
  width: 80%;
}
.boxWrap {
  margin-top: 100px;
  display: flex;
}
/* 박스 이미지 */
.container-2 .boxWrap .box:nth-child(1) {
  cursor: pointer;
  position: relative;
  width: 600px;
  height: 680px;
  background: url(./img/container/container-1.png) no-repeat center center;
  background-size: 110%;
  transition: all 0.3s;
}
.container-2 .boxWrap .box:nth-child(1):hover {
  background-size: 115%;
  filter: brightness(50%);
}
.container-2 .boxWrap .box:nth-child(2) {
  cursor: pointer;
  position: relative;
  width: 450px;
  height: 680px;
  background: url(./img/container/container-2.png) no-repeat center center;
  background-size: 110%;
  margin-left: 20px;
  transition: all 0.2s;
}
.container-2 .boxWrap .box:nth-child(2):hover {
  background-size: 115%;
  filter: brightness(50%);
}
.container-2 .boxWrap h1 {
  color: #fff;
  font-size: 30px;
  font-weight: 500;
  position: absolute;
  bottom: 64px;
  left: 50px;
}
/* 박스 텍스트 */
.container-2 .textWrap {
  text-align: right;
  height: 100%;
  margin-top: 220px;
  margin-left: auto;
  margin-right: 60px;
}
.container-2 .textWrap h2 {
  font-size: 30px;
}
.container-2 .textWrap p {
  margin-top: 30px;
  font-size: 16px;
}
.container-2 .button {
  margin-top: 80px;
  margin-left: auto;
  cursor: pointer;
  padding: 13px;
  width: 60%;
  text-align: center;
  font-size: 14px;
  border: 1px solid black;
  border-radius: 3px;
  transition: all 0.3s;
}
.button:hover {
  background-color: #C10013;
  border: 1px solid #C10013;
  color: #fff;
}

/* 세번째 컨테이너 */
/* 스와이퍼 */
.container-3 .swiper {
  height: 100%;
}
/* 스와이퍼 이미지 */
.container-3 .swiper-slide .swiper-slideImg {
  margin: 0 auto;
  width: 306px;
  height: 400px;
}
.container-3 .swiper-slide:nth-child(1) {
  width: 120px !important;
  height: 400px;
}
.container-3 .swiper-slide:nth-child(2) .swiper-slideImg {
  background: url(./img/slide/slide-2-01.png) no-repeat;
}
.container-3 .swiper-slide:nth-child(3) .swiper-slideImg {
  background: url(./img/slide/slide-2-02.png) no-repeat;
}
.container-3 .swiper-slide:nth-child(3) .minibox:nth-child(1) {
display: none;
}
.container-3 .swiper-slide:nth-child(4) .swiper-slideImg {
  background: url(./img/slide/slide-2-03.png) no-repeat;
}
.container-3 .swiper-slide:nth-child(4) .minibox:nth-child(2) {
  display: none;
  }
.container-3 .swiper-slide:nth-child(5) .swiper-slideImg {
  background: url(./img/slide/slide-2-04.png) no-repeat;
}
.container-3 .swiper-slide:nth-child(6) .swiper-slideImg {
  background: url(./img/slide/slide-2-05.png) no-repeat;
}
.container-3 .swiper-slide:nth-child(7) .swiper-slideImg {
  background: url(./img/slide/slide-2-06.png) no-repeat;
}
.container-3 .swiper-slide:nth-child(8) .swiper-slideImg {
  background: url(./img/slide/slide-2-07.png) no-repeat;
}
.container-3 .swiper-slide:nth-child(9) .swiper-slideImg {
  background: url(./img/slide/slide-2-08.png) no-repeat;
}
.container-3 .swiper-slide:nth-child(10) {
  background-color: #01423A;
  width: 500px !important;
  height: 400px;
}
/* 스와이퍼 버튼 */
.container-3 .swiper-button-next {
  top: 350px;
  right: 28px;
}
.container-3 .swiper-button-prev {
  top: 350px;
  left: 28px;
}

/* 네번째 컨테이너 */
.container-4 {
  background-color: aliceblue;
  width: 100%;
}
.container-4 .container-title {
  font-family: "Pretendard";
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 3%;
  margin-bottom: 7px;
}
/* 스와이퍼 */
.container-4 .swiper {
  width: 100%;
  height: 380px;
}
.container-4 .swiper-slide {
  justify-content: center;
  align-items: center;
}
.container-4 .swiper-slide .swiper-slideImg {
  display: block;
  width: 100%;
  height: 144px;
}
.container-4 .swiper-slide:nth-child(1) .swiper-slideImg {
  background: url(./img/slide/slide-3-05.png) no-repeat;
}
.container-4 .swiper-slide:nth-child(2) .swiper-slideImg {
  background: url(./img/slide/slide-3-01.png) no-repeat;
}
.container-4 .swiper-slide:nth-child(3) .swiper-slideImg {
  background: url(./img/slide/slide-3-02.png) no-repeat;
}
.container-4 .swiper-slide:nth-child(4) .swiper-slideImg {
  background: url(./img/slide/slide-3-03.png) no-repeat;
}
.container-4 .swiper-slide:nth-child(5) .swiper-slideImg {
  background: url(./img/slide/slide-3-04.png) no-repeat;
}
.container-4 .swiper-slide:nth-child(6) .swiper-slideImg {
  background: url(./img/slide/slide-3-06.png) no-repeat;
}
.container-4 .swiper-slide:nth-child(7) .swiper-slideImg {
  background: url(./img/slide/slide-3-07.png) no-repeat;
}
/* 텍스트 */
.container-4 .collectionKOR {
  margin-top: 26px;
  font-size: 18px;
  margin-bottom: 5px;
}
.container-4 .collectionENG {
  font-size: 12px;
  color: #b1b1b1;
}
/* 버튼 */
.container-4 .button {
  cursor: pointer;
  margin: 0 auto;
  margin-top: 26px;
  padding: 13px;
  width: 35%;
  font-size: 14px;
  border: 1px solid black;
  border-radius: 3px;
  transition: all 0.3s;
}
.container-4 .button:hover {
  background-color: #C10013;
  border: 1px solid #C10013;
  color: #fff;
}
/* 스크롤바 */
.container-4 .swiper-scrollbar{
  opacity: 50%;
  width: 60%;
}

/* 푸터 배너 */
.footerWrap {
  background-color: azure;
  width: 100%;
  margin-top: 100px;
}
.footerWrap .banner {
  width: 100%;
  margin: 0 auto;
}
.footerWrap .bannerTitle {
  height: 148px;
  background: url(./img/banner/banner-footer-title.svg) no-repeat;
}
.footerWrap .bannerImg {
  height: 380px;
  background: url(./img/banner/banner-footer.png) no-repeat;
  background-size: cover;
}
/* 푸터 */
.footer {
  height: 260px;
  background: url(./img/banner/footer.png) no-repeat;
  background-size: cover;
  padding: 50px 190px;
}
.footer .textWrap {
  background-color: #b1b1b1;
}
.footer .logo {
  width: 103px;
  height: 22px;
  background: url(./svg/logo.svg) no-repeat;
  background-color: #C10013;
}


@media screen and (max-width: 480px) {
  .navDesktop {
    display: none;
  }
  .swiper-button-next {
    display: none;
  }
  .swiper-button-prev {
    display: none;
  }
  header {
    width: 100%;
    padding: 0px 0;
    position: fixed;
    z-index: 8;
  }
  .logo {
    position: absolute;
    top: 20px;
    left: 30px;
  }

  /* 햄버거 버튼 */
  .hamburger {
    width: 35px;
    height: 30px;
    position: relative;
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 20px;
    z-index: 9;
  }
  .hamburger span {
    display: block;
    width: 100%;
    height: 5px;
    background-color: #fff;
    position: absolute;
    transition: all 0.2s;
  }
  .hamburger span:nth-of-type(1) {
    top: 0;
  }
  .hamburger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
  }
  .hamburger span:nth-of-type(3) {
    bottom: 0;
  }
  .hamburger span.active {
    background-color: #000;
  }
  .hamburger span:nth-of-type(1).active {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }
  .hamburger span:nth-of-type(2).active {
    opacity: 0;
  }
  .hamburger span:nth-of-type(3).active {
    bottom: 50%;
    transform: translateY(50%) rotate(45deg);
  }

  /* 모바일메뉴 */
  .navMobile .logo {
    position: absolute;
  }
  .navMobile {
    display: block;
    width: 100%;
    height: 100vh;
  }
  .navMobile .menuWrap {
    background-color: #fff;
    border-radius: 30px 0 0 0;
    width: 75%;
    height: 100vh;
    position: absolute;
    right: -75%;
  }
  .navMobile .menuWrap .menu{
    margin-left: 30px;
    position: absolute;
    top:130px
  }
  .navMobile .menuWrap li {
    font-size: 24px;
    font-weight: 600;
    padding: 20px;
  }
  .navMobile .menuWrap a {
    color: black;
  }
  /* 모바일메뉴-버튼 */
  .menuButton {
    width: 75%;
    margin: 0 auto;
    margin-top: 690px;
  }
  .menuButton div {
    border: 1px solid black;
    border-radius: 3px;
    padding: 14px 0;
    text-align: center;
  }
  .menuButton div:nth-child(2) {
    margin-top: 10px;
    background-color: #000;
  }
  .menuButton div:nth-child(2) a {
    color: #fff;
  }
  /* 모바일메뉴-백그라운드이미지 */
  .backgrondImg {
    position: absolute;
    right: 0;
    bottom: 100px;
  }
}